<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381174619588-hukp1jj1sovb198rvi9r3i93a1mv8if7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381174619588-hukp1jj1sovb198rvi9r3i93a1mv8if7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>381174619588-4rot11p53f8mrkhnc6ga8foepte4r1t5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD1vVtgMinZGdUJpxTNauq0hdMU70MsMQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>381174619588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UMT.Emlakzone1</string>
	<key>PROJECT_ID</key>
	<string>emlaktest-a70a3</string>
	<key>STORAGE_BUCKET</key>
	<string>emlaktest-a70a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381174619588:ios:30b44729b6ac31f9fe5891</string>
	<key>DATABASE_URL</key>
	<string>https://emlaktest-a70a3.firebaseio.com</string>
</dict>
</plist>